<h1>Lista gier</h1>

@using(GameRepository games = new GameRepository())
@using(ImageRepository img = new ImageRepository())
@foreach(Game game in games.GetAll()){
    <div>
        <h2>@game.Name</h2>
        @*
            CHYBA DZIAŁA, POTESTOWAĆ
            DODAĆ WŁAŚCIWOŚĆ SPRAWDZAJĄCĄ, CZY TO OKŁADKA, TUTAJ SPRAWDZAĆ TEN WARUNEK
            I WYŚWIETLAĆ TYLKO  OKŁADKĘ, W SZCZEGÓŁACH WYŚWIETLAĆ RESZTĘ
        *@
        @foreach(Image @imag in @img.GetByGame(game)){
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(@imag.Data)" />
        }
        <br />
        <form asp-controller="Games" asp-antiforgery="false" asp-action="Details" method="post">
            <input name="id" type="hidden" value=@game.Id />
            <button class="btn btn-secondary" type="submit">Szczegóły</button>
        </form>
                      
    </div>
}
